<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="shortcut icon" type="image/png" href="/static/icon32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.7/css/all.min.css">
    <!-- <script src="{{ url_for('static', filename='js/header.js') }}"></script> -->
    <title>Delmarie Safaris</title>
</head>
<body>
  
    {% include 'header.html' %}

    <div class="content">
        <h3>Destinations</h3>
    </div>
    
</body>
</html>
