<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <title></title>
</head>
<body>
    <footer>
        <div class="footer">
            <div class="foot">
                <h3>Our Pages</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Atractions</a></li>
                    <li><a href="/">Destinations</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">Contact Us</a></li>
                </ul>
            </div>
            <div class="foot">
                <h3>Delmarie</h3>
                <ul>
                    <li><a href="/">Blogs</a></li>
                    <li><a href="/">Affiliate Here</a></li>
                    <li><a href="/">News</a></li>
                </ul>
            </div>
            <div class="foot">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="/"> <i class="fa-brands fa-facebook"></i> Facebook</a></li>
                    <li><a href="/"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                    <li><a href="/"> <i class="fa-brands fa-youtube"></i> Youtube</a></li>
                    <li><a href="/"> <i class="fa-brands fa-x-twitter"></i>X</a></li>
                </ul>
            </div>
    
        </div>
        <div class="copy">
            <p>© 2023 Delmarie Safaris.</p>
        </div>
    </footer>
    
    
</body>
</html>