<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" type="image/png" href="/static/icon32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.7/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
  
    {% include 'header.html' %}

    <div class="content">
        <div class="hero">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{{ url_for('static', filename='hero/three.jpg') }}" alt="Slide 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ url_for('static', filename='hero/one.jpg') }}" alt="Slide 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ url_for('static', filename='hero/two.jpg') }}" alt="Slide 3">
                    </div>
                    <!-- Add more slider items as needed -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="hero-content">
                <h3>Delmarie Safaris</h3>
                <p>Travel like Royalty</p>
                <a href="/about" class="btn">Learn More</a>
            </div>
        </div>
        <div class="upcomings">
            <h3>Upcoming Tours</h3>
            <div class="upcoming">
                <div class="coming">
                    <img src="{{ url_for('static', filename='hero/thiba.png') }}" alt="">
                    <div class="coming-details">
                        <h4>Thiba Falls</h4>
                        <p><b>Price : </b> KSh. <b>2950</b> <i>Per Person</i></p>
                        <a href="/" id="coming-btn" class="btn btn-lg btn-primary m-2">More Details</a>
                        
                    </div>
                </div>
                <div class="coming">
                    <img src="{{ url_for('static', filename='hero/thiba.png') }}" alt="">
                    <div class="coming-details">
                        <h4>Thiba Falls</h4>
                        <p><b>Price : </b> KSh. <b>2950</b> <i>Per Person</i></p>
                        <a href="/" id="coming-btn" class="btn btn-lg btn-primary m-2">More Details</a>
                        
                    </div>
                </div>
                <div class="coming">
                    <img src="{{ url_for('static', filename='hero/thiba.png') }}" alt="">
                    <div class="coming-details">
                        <h4>Thiba Falls</h4>
                        <p><b>Price : </b> KSh. <b>2950</b> <i>Per Person</i></p>
                        <a href="/" id="coming-btn" class="btn btn-lg btn-primary m-2">More Details</a>
                        
                    </div>
                </div>
                <div class="coming">
                    <img src="{{ url_for('static', filename='hero/thiba.png') }}" alt="">
                    <div class="coming-details">
                        <h4>Thiba Falls</h4>
                        <p><b>Price : </b> KSh. <b>2950</b> <i>Per Person</i></p>
                        <a href="/" id="coming-btn" class="btn btn-lg btn-primary m-2">More Details</a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="top-destinations">
            <h3>Famous Destinations</h3>
            <div class="destinations">
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/hells.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Hell's Gate</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/central.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Central</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/mombasa.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Mombasa</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/hells.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Hell's Gate</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/hells.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Central</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont-why">
            <h2>Why Travel With Delmarie Safaris</h2>
            <div class="row-why">
                <div class="col-item">
                    <div class="icon-center">
                        <i class="fa-solid fa-face-smile icon"></i>
                    </div>
                    <h3 class="text-center">300,000+ experiences. </h3>
                    <p class="text-center">Make memories around the world.</p>
                </div>
                <div class="col-item">
                    <div class="icon-center">
                        <i class="fa-solid fa-wallet icon"></i>
                    </div>
                    <h3 class="text-center">Reserve now, pay later.</h3>
                    <p class="text-center">Book your spot</p>
                </div>
                <div class="col-item">
                    <div class="icon-center">
                        <i class="fa-regular fa-star icon"></i>
                    </div>
                    <h3 class="text-center">Trusted reviews</h3>
                    <p class="text-center">4.3 stars from 140,000+ Trustpilot reviews.</p>
                </div>
            </div>
        </div>
        <div class="atractions">
            <h3>Top Attractions</h3>
            <div class="atract-top">
                <div class="atracts">
                    <div class="atract">
                        <img src="{{ url_for('static', filename='hero/two.jpg') }}" alt="">
                        <div class="atract-details">
                            <h4>Rift Valley</h4>
                            <p>12 Tours and Activities</p>
                        </div>
                    </div>
                    <div class="atract">
                        <img src="{{ url_for('static', filename='hero/one.jpg') }}" alt="">
                        <div class="atract-details">
                            <h4>Rift Valley</h4>
                            <p>12 Tours and Activities</p>
                        </div>
                    </div>
                </div>
                <div class="atracts">
                    <div class="atract">
                        <img src="{{ url_for('static', filename='hero/two.jpg') }}" alt="">
                        <div class="atract-details">
                            <h4>Rift Valley</h4>
                            <p>12 Tours and Activities</p>
                        </div>
                    </div>
                    <div class="atract">
                        <img src="{{ url_for('static', filename='hero/one.jpg') }}" alt="">
                        <div class="atract-details">
                            <h4>Rift Valley</h4>
                            <p>12 Tours and Activities</p>
                        </div>
                    </div>
                </div>
                <div class="atracts">
                    <div class="atract">
                        <img src="{{ url_for('static', filename='hero/two.jpg') }}" alt="">
                        <div class="atract-details">
                            <h4>Rift Valley</h4>
                            <p>12 Tours and Activities</p>
                        </div>
                    </div>
                    <div class="atract">
                        <img src="{{ url_for('static', filename='hero/one.jpg') }}" alt="">
                        <div class="atract-details">
                            <h4>Rift Valley</h4>
                            <p>12 Tours and Activities</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="archive testimonials">
            <h3><b>Testimonials</b></h3>
            <div class="testimonial-section">
                <div class="testimonial">
                    <img src="{{ url_for('static', filename='testimony/user.jpg') }}" alt="User 1">
                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                    <h4 class="testimonial-author">Lilian N</h4>
                    <p class="testimonial-position">Tourist, Nakuru</p>
                </div>
                <div class="testimonial">
                    <img src="{{ url_for('static', filename='testimony/user.jpg') }}" alt="User 1">
                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                    <h4 class="testimonial-author">John M</h4>
                    <p class="testimonial-position">Tourist, Nakuru</p>
                </div>
                <div class="testimonial">
                    <img src="{{ url_for('static', filename='testimony/user.jpg') }}" alt="User 1">
                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                    <h4 class="testimonial-author">Daudi K</h4>
                    <p class="testimonial-position">Tourist, Nakuru</p>
                </div>
                <div class="testimonial">
                    <img src="{{ url_for('static', filename='testimony/user.jpg') }}" alt="User 1">
                    <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                    <h4 class="testimonial-author">Solomon Micro</h4>
                    <p class="testimonial-position">Tourist, Central</p>
                </div>
                <!-- Add more testimonials as needed -->
            </div>
        </div>
        <div class="top-destinations">
            <h3>Other Major Destinations</h3>
            <div class="destinations">
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/hells.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Hell's Gate</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/central.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Central</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/mombasa.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Mombasa</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/hells.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Hell's Gate</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
                <div class="destination">
                    <img src="{{ url_for('static', filename='destinations/hells.jpg') }}" alt="">
                    <div class="destination-details">
                        <h4>Central</h4>
                        <p>12 Tours and Activities</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
    {% include 'footer.html' %}
    <script>
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

    </script>
    
</body>
</html>
