<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" type="image/png" href="/static/icon32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.7/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
  
    {% include 'header.html' %}

    <div class="content">
        <div class="hero">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{{ url_for('static', filename='hero/one.jpg') }}" alt="Slide 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ url_for('static', filename='hero/two.jpg') }}" alt="Slide 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ url_for('static', filename='hero/three.jpg') }}" alt="Slide 3">
                    </div>
                    <!-- Add more slider items as needed -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="hero-content">
                <h3>Delmarie Safaris</h3>
                <p>Travel like Royalty</p>
                <a href="/about" class="btn">Learn More</a>
            </div>
        </div>
    </div>
    <script>
        const swiper = new Swiper('.swiper-container', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

    </script>
    
</body>
</html>
